@import url('style.css');

.theater {
  text-align: center;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
}

thead {
  background: var(--color-primario);
  color: var(--color-texto);
}

tbody tr:hover {
  background: var(--color-secundario);
  color: white;
}

.theater img {
  margin-top: 20px;
  max-width: 500px;
  width: 100%;
  border-radius: 12px;
}
